.transaction-history {
  display: flex;
  flex-direction: column;
  height: 400px;
  overflow-y: scroll;
  width: 600px;
  font-size: 14px;
  text-align: center;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, .2);
  border-radius: 5px;
}

.transaction-history thead {
  background-color: #00BCD5;
  color: #fff;
}


.transaction-history tbody {
  color: rgba(0, 0, 0, .5);
  font-weight: 600;
}

.transaction-history tbody tr:nth-child(even) {
  background-color: #ECF1F4;
}

.transaction-history tr {
  display: flex;
}

.transaction-history th,
.transaction-history td {
  flex: 1;
  padding: 10px 0;
}

.transaction-history th {
  text-transform: uppercase;
}

.transaction-history th:nth-child(2) {
  border-inline: 1px solid #fff;
}

.transaction-history td {
  text-transform: capitalize;
}

.transaction-history td:nth-child(2) {
  border-inline: 1px solid rgba(0, 0, 0, .1);
}

